<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.hubei.pojo"/>
    </typeAliases>

    <!-- mapping文件路径配置 -->
    <mappers>
        <mapper class="com.hubei.dao.UserMapper"/>
        <mapper class="com.hubei.dao.StudentMapper"/>
        <mapper class="com.hubei.dao.ClazzMapper"/>
        <mapper class="com.hubei.dao.CourseMapper"/>
        <mapper class="com.hubei.dao.GradeSheetMapper"/>
        <mapper class="com.hubei.dao.TeacherMapper"/>
    </mappers>
</configuration>