<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubei.dao.CurriculumMapper">
    <select id="selectCoursesByClass" resultType="Curriculum">
        select *
        from curriculum
        where class_name = #{className}
    </select>

    <select id="selectCurriByClassName" resultType="Curriculum">
        select * from curriculum where class_name = #{stuClass}
    </select>

    <select id="selectAllCurriculums" resultType="Curriculum">
        select *
        from curriculum
    </select>

    <select id="conditionQueryCurriculum" resultType="Curriculum">
        select * from curriculum
        <where>
            1 = 1
            <if test="cNo != null and cNo != ''">
                and c_no = #{cNo}
            </if>
            <if test="cName != null and cName != ''">
                and c_no = (select c_no from course where c_name = #{cName})
            </if>
            <if test="teacher != null and teacher != ''">
                and teacher like concat('%', #{teacher}, '%')
            </if>
            <if test="teachTime != null and teachTime != ''">
                and date_format(teach_time, '%y-%m-%d') = date_format(#{teachTime}, '%y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectByTeacher" parameterType="Teacher" resultType="Curriculum">
        select *
        from curriculum
        where teacher = #{name}
    </select>

    <select id="selectByCno" resultType="Curriculum">
        select *
        from curriculum
        where c_no = #{cNo}
    </select>

    <select id="selectTeacherNumByClass" resultType="Integer">
        select count(teacher = #{teacher}) from curriculum where class_name = #{className}
    </select>

    <insert id="addCu">
        insert into curriculum
        values (#{id}, #{cNo}, #{className}, #{teacher}, #{teachTime}, #{teachPlace})
    </insert>

    <delete id="deleteCu">
        delete
        from curriculum
        where id = #{id}
    </delete>

    <update id="updateCu">
        update curriculum
        <set>
            <if test="cNo != null and cNo != ''">c_no = #{cNo},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="teacher != null and teacher != ''">teacher = #{teacher},</if>
            <if test="teachTime != null and teachTime != ''">teach_time = #{teachTime},</if>
            <if test="teachPlace != null and teachPlace != ''">teach_place = #{teachPlace},</if>
        </set>
        where id = #{id}
    </update>
</mapper>